<template name="Displayer">
	<div class="Displayer">
		
	
			
			<div class="medium-11 medium-offset-2 columns">
				<div class="displayer-content">
					<div class="row">
						{{#each allImages}}
								<div  class="medium-3 columns the-img">
									<img src="{{ img }}">
								</div>
						{{/each}}
					</div>
				</div>
			</div>
		
	</div>
</template>





<!-- <div class="medium-11 medium-offset-1 columns">
				<div class="displayer-content">
					<div class=row>
						<div  class="medium-4 columns the-big-img">
						<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-4 columns the-big-img">
							<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-4 columns the-big-img">
							<img src="/images/photos/1.jpg">
						</div>
					</div>
					<div class=row>
						<div  class="medium-3 columns the-img">
						<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-3 columns the-img">
							<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-3 columns the-img">
							<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-3 columns the-img">
							<img src="/images/photos/1.jpg">
						</div>
					</div>
					<div class=row>
						<div  class="medium-3 columns the-img">
						<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-3 columns the-img">
							<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-3 columns the-img">
							<img src="/images/photos/1.jpg">
						</div>
						<div  class="medium-3 columns the-img">
							<img src="/images/photos/1.jpg">
						</div>
					</div>
				</div>
</div> -->