/* CSS declarations go here */
.Displayer {
	position:absolute;
	/*left: 120px;*/
	top:12%;
	/*border: 3px solid green;*/
	width:100%;
	height:100%;
}

.displayer-content{
	position:relative;
/*	border:2px solid pink;*/
	width:100%;
	height:600px;
	/*left: 120px;*/
}

.the-img {
	position:relative;
	/*margin: 15px 0px 15px 0px;*/
	margin:10px;
	border-radius: 5px;
	max-width:100%;
	min-height: 300px;
	max-height:700px;
	text-align: center;
}

.the-img img{
	position:absolute;
	top:50%;
	left: 0;
	transform: translateY(-50%);
	width:100%;
	height: auto;
}